* {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    background-color: #ccc;
}

.main-picture {
    height: 300px;
    width: 600px;
    position: relative;
    margin: 0 auto;
}

.main-picture img {
    float: left;
    width: calc(100% - 100px);
    height: 100%;
}

.main-picture button {
    width: 50px;
    height: 300px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}

button.prev-btn {
    background-image: url('../imgs/arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

button.next-btn {
    background-image: url('../imgs/arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.thumb-nail {
    width: 100%;
    text-align: center;
    font-size: 0;
}

.thumb-nail>div {
    width: 100px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 20px 10px 0 0;
    background-color: #fff;
    padding: 5px;
}

.thumb-nail img {
    width: 100%;
}

.thumb-nail .popup {
    display: none;
    min-width: 80px;
    max-width: 80px;
    line-height: 20px;
    min-height: 20px;
    position: absolute;
    margin-bottom: 10px;
    margin-left: -45px;
    bottom: 100%;
    left: 50%;
    padding: 5px;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}

.thumb-nail .triangle {
    display: none;
    content: '';
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 80px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    border-top: 8px solid #000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

img.active+span {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 85px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.description-container {
    position: absolute;
    bottom: 20px;
    overflow: hidden;
    min-height: 80px;
    max-height: 80px;
    width: 500px;
    margin-left: 50px;
    color: #fff;
    font-size: 15px;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.description-container .title {
    font-size: 25px;
}

.search-container {
    padding: 20px;
    width: 600px;
    margin: 0 auto;
}

.search-container input {
    outline: none;
    font-size: 20px;
    height: 30px;
    background-color: #ccc;
    border: none;
    border-bottom: 2px solid #000;
}

.search-container input::-webkit-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.search-container .search {
    border: none;
    font-size: 20px;
    padding: 7px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}