.container{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #F05408;
}
.middle-box{
    position: absolute;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    box-shadow: 0 0 0px 2px #fff inset;
    border-radius: 15px;
    opacity: 0.7;
    background-color: radial-gradient(#b3693D,#ff783F);
}
