.container {
  display: flex;
  align-items: center;
  background-color: orange;
  justify-content: space-between;
  height: 400px;
  padding: 0;
}

.item {
  width: 100px;
  height: 100px;
  background-color: purple;
  list-style-type: none;
}