.container div{
    height: 50px;
    width: 200px;
}
#div-1{
    background: #666;
}
#div-2{
    background: #999;
}
#div-3{
    background: #999;
}
#div-4{
    background: #999;
}
#div-5{
    background: #ccc;
}