*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.header{
    position: fixed;
    width: 100%;
    height: 100px;
    background: #B02AFF;
}
.nav ul{
    text-align: center;
    margin-left: 5%;
}
.nav li{
    list-style-type: none;
    float: left;
}
.nav ul a{
    display: block;
    text-decoration: none;
    width: 70px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    margin-top: 30px;
    background: #2AEAFF;
}
.body-container,.footer{
    width: 90%;
    margin: 0 auto;
}
.body-container{
    height: 1500px;
}
.footer{
    margin-top: 15px;
    height: 100px;
    background: #CCCCCC;
}
.sidebar{
    width:30%;
    height: 100%;
    float: left;
    padding-right: 15px;
    margin-top: 115px;
}
.sidebar div{
    background: #51D400;
    height: 100%;
}
.main-content{
    width:70%;
    height: 100%;
    float: left;
    margin-top: 115px;
    background: #FFD62A;
}
div{
    box-sizing: border-box;
}