* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.header,
.body-container {
    min-width: 600px;
    max-width: 90%;
    background-color: #eee;
    margin: 0 auto;
}

.header {
    height: 100px;
    background-color: #B02AFF;
}

.nav-left li {
    height: 50px;
    width: 80px;
    float: left;
    margin-right: 10px;
    list-style: none;
    background-color: #2AEAFF;
    margin-top: 25px;
}

.nav-left li:nth-child(1) {
    margin-left: 20px;
}

.nav-right li {
    height: 50px;
    width: 50px;
    float: right;
    margin-left: 10px;
    list-style: none;
    background-color: #2AEAFF;
    margin-top: 25px;
}

.nav-right li:nth-child(1) {
    margin-right: 20px;
}

.body-container {
    height: 800px;
}

.content {
    height: 800px;
    background-color: #FFD62A;
    margin-right: 300px;
    overflow: hidden;
}

.slidebar {
    height: 800px;
    width: 300px;
    float: right;
    background-color: #51D400;
}

.list-div {
    margin-top: 50px;
}

.list-div-item {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #573559;
}

.slidebar p.text {
    margin: 0 25px;
    margin-bottom: 20px;
}

.content p.text {
    padding: 50px 20px;
}

.content-center .row .red {
    width: 20%;
    height: 100px;
    background-color: #f00;
    float: left;
    margin-left: 4%;
    margin-bottom: 4%;
}

.content-center .row-bottom .red {
    margin-bottom: 0;
}

.text-below {
    width: 100%;
}

.text-below p.text-left {
    float: left;
    width: 44%;
    margin-left: 4%;
    margin-top: 50px;
}

.text-below p.text-right {
    float: right;
    width: 44%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 50px;
}