.container {
    width: 800px;
    margin: 0 auto;
}

.header {
    background-color: #B02AFF;
    height: 50px;
}

.nav a {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #2AEAFF;
    margin: 10px 0px 10px 20px;
}

.content {
    height: 750px;
    width: 500px;
    background-color: #FFD62A;
    float: left;
}

.sidebar {
    height: 750px;
    width: 300px;
    background-color: #51D400;
    float: left;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}