.container{
    width: 380px;
    height: 550px;
    background: #4285F4;
}
.inside{
    position: absolute;
    margin: 15px;
}
.content{
    width : 350px;
    height: 130px;
    position: relative;
}
#north{
    background: #E67676;
}
#east{
    background: #F2F062;
}
#south{
    background: #A9E6E6;
}
#west{
    background:#7692E4;
}
.text{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 25px;
    margin-left: -50px;
    margin-top: -25px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}