.container div{
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background: #999;
    color: #fff;
    box-sizing: border-box;
}
.container div:nth-child(5){
    margin-bottom: 0px;
}