* {
    margin: 0;
    padding: 0;
}

button {
    width: 300px;
    height: 100px;
    display: block;
}

span {
    display: none;
    height: 300px;
    width: 300px;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    background-color: orange;
}